name: Push Workflow
on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches:
            - main
    workflow_dispatch:
        inputs:
            name:
                description: "Testing input"
                required: true
                type: string
jobs:
    test_schedule:
        runs-on: ubuntu-latest
        steps:
            - name: Step 1
              run: echo "DONE with ${{ inputs.name }}"
