name: Scheduled Workflow
on:
    schedule:
        - cron: "*/5 * * * *"
jobs:
    test_schedule:
        runs-on: ubuntu-latest
        steps:
            - name: Step 2
              run: echo "DONE!"
